body {
  height: 100vh;
}

.track-container {
  background: #f4f5f5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tracks-container-wrapper {
  background: #f4f5f5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.tracks-container {
  position: relative;
  overflow: hidden;
}


.time-bar {
  position: absolute;
  left: 129px;
  top: 21px;
  right: 27px;
  bottom: 0;
}
.time-bar-canvas-container {
  position: absolute;
  left: 0;
  top: 8px;
  height: 21px;
  overflow: hidden;
  right: 0;
  opacity: 0.5;
}